.tab-item{
    display: flex;
    justify-content: center;
    background: rgb(98, 98, 98);
    transition-duration: 0.2s;

}
.tab-item:hover{
    /* background: rgb(81, 81, 81); */
    cursor: pointer;
    /* color: white; */
}

.tabs .tab-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}

.tab-border{
    /* border: 1px solid #E09A1C; */
    border-radius: 50% 0 0 0;
    background-color: #E09A1C;
    font-weight: 500;
}


.scroll-box{
    height: 50vh;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    /* width: inherit; */

}

/* @media (max-width: 391px){
    .scroll-box{
        height: 66vh;
        overflow-y: scroll;
    }
    .tabs .tab-container{
        font-size: 0.8rem;
    }
} */

.tab-1-content{
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: center;
}

.tab-content-item{
    margin: 0.1rem;
    padding: 0.1rem;
    /* background-color: aqua; */
}
.tab-content-div{
    /* background: red; */
    /* height: 12vh; */
    width: 100%;
    background-color: #E2E4D7;
    border-radius: 5px;
    box-shadow: 0px 3px 2px black;
    overflow: hidden;
    margin-top: 0.6rem;
    margin-left: auto;
    /* margin-left: 1.1rem; */
    font-size: 2rem;
    transition-duration: 0.2s;
}

.tab-content-div:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.tab-content-item img{
    width: 100%;
    margin-top: -5px;
    margin-left: -120px;

}

.tab-content-div div{
    background-color: #2C2825;
    opacity: 0.8;
}

.tab-content-div div p {
    font-size: medium;
    white-space: nowrap;
    color: #AEBCC5;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 0rem;
    /* -moz-animation: marquee 12s linear infinite;
    -webkit-animation: marquee 12s linear infinite; */
    animation: marquee 12s linear infinite;
    /* text-transform: capitalize; */
    
  }
  @keyframes marquee {
    0% {
      /* -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%); */
      transform: translateX(100%)
    }
    100% {
      /* -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%); */
      transform: translateX(-100%);
    }
  }