.back-link-flex{
    /* position: absolute;
    bottom: 0; */
    /* margin-left: -0.3rem; */
    /* width: inherit;
    max-width: inherit; */
    z-index: 99;

}
.back-link{
    /* position: absolute;
    left: 10px;
    bottom: 10px; */
    /* padding: 5px; */
    /* width: 15%;  */
    background: #1865D8;
    text-decoration: none;
    color: #DCF4F8;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    font-weight: bolder;
    /* transform: rotate(-5deg); */
}