.top-three{
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1rem;
    justify-content: space-between;
    position: relative;
    padding-bottom: 0.2rem;
}

.coop-banner{
    width: 100%;
    max-width: 400px;
}

.coop-div{
    background: #DCF4F8;
    border-radius: 10px;
    width: 97%;
    margin: auto;
    transition-duration: 0.2s;
}


.coop-div:hover, .z:hover{
    transform: scale(1.02);
}


.bottom-links{
    background-color: #1865D8;
    width:  inherit;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    /* margin-top: 260px; */
}

.menu-link-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px; 
    background: #1865D8;
    text-decoration: none;
    color: #DCF4F8;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    font-weight: bolder;
    /* transform: rotate(-5deg); */
}

.home-link-btn{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px; 
    background: #1865D8;
    text-decoration: none;
    color: #DCF4F8;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    font-weight: bolder;
    /* transform: rotate(5deg); */
}

.mission-link-btn{
    position: absolute;
    left: 35%;
    bottom: 10px;
    padding: 5px; 
    background: rgb(149, 98, 2);
    text-decoration: none;
    color: #DCF4F8;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    font-weight: bolder;
    /* transform: rotate(5deg); */
}

.z{
    color:#453C32;
}

.home-link-btn:hover, .mission-link-btn:hover, .menu-link-btn:hover{
    transition-duration: 0.2s;
    transform: scale(1.1);
}