.team-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    margin-left: 10px;
}

.team-name{
    border: 1.8px goldenrod solid;
    background-color: #2D2C2A;
    border-radius: 10px;
    color: #8BA3AB;
    font-weight: 700;
    width: 100%;
}
.team-name:hover{
    transform: scale(1.1);
    transition-duration: 0.05s;
}

.details-btn{
    display: flex;
    width: 110px;
    margin-left: 0.5rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#e8ede2,#CACEC4, #AAAE98);
    padding: 4px; 
    border: 2px solid black;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 0.7rem;
}

.powerlvl-bonus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #13171acd;
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.power-level, .ability-bonus{
    display: flex;
    flex-direction: column;
}

.power-level-title, .ability-bonus-title{
    color:#B6B9BB;
    font-size: 14px;
    font-weight: 600;
}

.ability-bonus-value{
    color: #CAB069;
    font-weight: 700;
}