.team-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    margin-left: 10px;
}

.team-name{
    border: 1.8px goldenrod solid;
    background-color: #2D2C2A;
    border-radius: 10px;
    color: #8BA3AB;
    font-weight: 700;
    width: 100%;
}
.team-name:hover{
    transform: scale(1.1);
    transition-duration: 0.05s;
}

.details-btn{
    display: flex;
    width: 110px;
    margin-left: 0.5rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#e8ede2,#CACEC4, #AAAE98);
    padding: 4px; 
    border: 2px solid black;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 0.7rem;
}

.powerlvl-bonus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #13171acd;
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.power-level, .ability-bonus{
    display: flex;
    flex-direction: column;
}

.power-level-title, .ability-bonus-title{
    color:#B6B9BB;
    font-size: 14px;
    font-weight: 600;
}

.ability-bonus-value{
    color: #CAB069;
    font-weight: 700;
}

.power-level-title span{
    margin-left: -200px;
}

.ability-bonus-value span{
    margin-right: -150px;
}

.characters{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    height: 550px;
}
.main-char img{
    background-color: #8BA3AB;
    /* height: 100%; */
    width: 100%;
    /* margin-left:-150px; */
}
.team-char{
    background-color: aqua;
}

/* .first-line-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #AAAE98;
} */

/* .btns-below-chars{
    background-color: #8BA3AB;
    position: absolute;
    margin-left: 196px;
} */

.first-line-btns img:first-child{
    position: fixed;
    margin-left: -335px;
    bottom: -15px;
}

.first-line-btns img:nth-child(2){
    position: fixed;
    margin-left: -199px;
    bottom: -15px;
}

.first-line-btns img:last-child{
    position: fixed;
    margin-left: -85px;
    bottom: -12px;
}
.first-line-btns img, .second-line-btns img{
    transform: scale(0.35);
}

.second-line-btns{
    position: fixed;
    /* margin-left: -85px; */
    bottom: -50px;
    left: 5px;
}
/* .btns-below-chars img{
    width: 100%;
    position:  absolute;
    bottom: 10px;
    margin-left: -196px;
} */

.btns-below-chars{
    margin-bottom: 80px;
}