.team-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    margin-left: 10px;
}

.team-name{
    border: 1.8px goldenrod solid;
    background-color: #2D2C2A;
    border-radius: 10px;
    color: #8BA3AB;
    font-weight: 700;
    width: 100%;
}
.team-name:hover{
    transform: scale(1.1);
    transition-duration: 0.05s;
}

.details-btn{
    display: flex;
    width: 110px;
    margin-left: 0.5rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#e8ede2,#CACEC4, #AAAE98);
    padding: 4px; 
    border: 2px solid black;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 0.7rem;
}
.details-btn:hover{
    transition-duration: 0.1s;
    transform: scale(1.1);
    cursor: pointer;
}

.powerlvl-bonus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #13171acd;
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.power-level, .ability-bonus{
    display: flex;
    flex-direction: column;
}

.power-level-title, .ability-bonus-title{
    color:#B6B9BB;
    font-size: 14px;
    font-weight: 600;
}

.ability-bonus-value{
    color: #CAB069;
    font-weight: 700;
}

.power-level-title span{
    margin-left: -200px;
}

.ability-bonus-value span{
    margin-right: -150px;
}

.characters{
    margin-top: 5px;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-around; */
    overflow: hidden;
    height: 550px;
    border: 2px solid goldenrod;
    background-color: #13171a98;
}

.team-char{
    /* background-color: aqua; */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
}

.btns-below-chars{
    /* background-color: #8BA3AB; */
    margin-top: -50px;
    position: relative;
    /* margin-left: 196px; */
    bottom: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.btns-below-chars img{
    width: 32%;
}

.second-line-btns{
    position: fixed;
    /* background-color: #1CC620; */
    bottom: 0px;
    /* left: -36px; */
    
}
.second-line-btns img{
     width: 32%;
}

.first-line-btns img:hover, .second-line-btns img:hover{
    transition-duration: 0.1s;
    transform: scale(1.2);
    cursor: pointer;
}


.btns-below-chars{
    margin-bottom: 80px;
}