.slider{
    margin-top: -2rem;
}

.char-images{
    /* position: relative; */
    overflow: hidden;
    background-color: #13171a98;
    height: 110px;
}

.l-r-btns{
    margin-top: 2.5rem;
    /* height: 8vh; */
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* width: 100%; */
    /* background-color: brown; */
    
}

.l-r-btns button{
    margin-top: auto;
    height: 60px;
    background: rgb(242, 144, 0);
}

.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    overflow: scroll;
    margin-top: -60px;
    margin-left: 0rem;
    /* height: 18vh; */
    /* background: rgb(242, 144, 0); */
}

.carousel-item{
    /* height: 100%; */
    width: 14.4%;
    /* position: relative; */
    /* display: flex;
    justify-content: space-around; */
    /* height: 15vh; */
    /* margin-left: auto; */
    /* flex-direction: row; */
    
}

/* .chars{
    
} */

.char-img{
    height: 8vh;
    /* width: 10vh; */
    margin: auto;
    /* visibility: hidden; */
}