<!-- ========================= SECTION CONTENT START // ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div>
            <h2 style="text-align: center;">Apple Event</h2>
            <hr style="width:20%; height:3px; border-radius:10px; background:var(--customUIcolor);">
            <br>
            <div>
              <center>
                <iframe src="https://irtl.in/applelive" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:70%; height:500px;"></iframe>
              </center>
            </div>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END // ========================= -->
