<!-- ========================= SECTION CONTENT START // ========================= -->
<div ng-if="showPlaceholder">
    <center>
        <img src="./images/icons/preloader.gif" style="width:50px; height: 50px;">
        <br>
        <h6 class="title text-truncate">loading...</h6>
        <br>
    </center>
</div>
<section class="section-content padding-y" ng-if="!showPlaceholder" ng-repeat="product in ctlgCtrl.productDetails track by $index">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6" style="overflow: hidden;">
                    <article class="gallery-wrap">
                        <div ng-if="product.comingsoon" style="transform:translateX(-25px);z-index: 11;">
                            <p class="coming_soon">Coming Soon</p>
                        </div>
                        <div ng-if="!product.comingsoon">
                            <div ng-if="!product.prebook" style="transform:translateX(-10px);z-index: 11;">
                                <p ng-if="product.productqty==0" class="sold_out">Sold Out</p>
                            </div>
                            <div ng-if="product.prebook" style="transform:translateX(-25px);z-index: 11;">
                                <p class="pre_book">Prebook Now</p>
                            </div>
                        </div>
                        <div class="img-big-wrap">
                            <img style="width:100%; height:auto;" ng-src="{{makeImageUrl(product.photo,'height','900')}}">
                        </div>
                        <!-- slider-product.//>
						<div class="thumbs-wrap">
							<a href="#" class="item-thumb">
								<img src="images/product-placeholder.png">
							</a>
							<a href="#" class="item-thumb">
								<img src="images/product-placeholder.png">
							</a>
							<a href="#" class="item-thumb">
								<img src="images/product-placeholder.png">
							</a>
						</div>
						< slider-nav.// -->
                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <h2 class="title">{{product.menuitemname}}</h2>
                        <!--div class="rating-wrap my-3">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active">
                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </li>
            </ul>
            <small class="label-rating text-muted">132 reviews</small>
            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
          </div-->
                        <!-- rating-wrap.// -->
                        <div ng-show="product.MRP>product.price" class="mb-3"><del style="color: black; font-weight: 400; font-size: initial;">{{ product.MRP*(1+product.taxrate/100) | currency:QoACurrencySymbol:0}}</del> <span style="font-size: x-large; font-weight: bold;">{{product.price*(1+product.taxrate/100) | currency:QoACurrencySymbol:0}}</span><br>
                            <span style="background-image: url(images/product-offer-bg.png); font-size: 15px; font-style: italic; color: #ff000a; padding: 8px; background-size: cover; border-radius: 5px;">Save {{ (product.MRP*(1+product.taxrate/100))-(product.price*(1+product.taxrate/100)) | currency:QoACurrencySymbol:0 }} ({{((product.MRP*(1+product.taxrate/100))-(product.price*(1+product.taxrate/100)))/(product.MRP*(1+product.taxrate/100))*100 | number:0}}%)</span>
                            <br>
                            <small class="text-success"> {{product.sku}} </small>
                          </div>
                        <div ng-show="product.MRP<=product.price" class="mb-3"> <var class="price h4">{{product.price*(1+product.taxrate/100) | currency:QoACurrencySymbol :0 }}</var>
                          <br>
                          <small class="text-success"> {{product.sku}} </small>
                            <!--span class="text-muted">+ 18% GST</span-->
                        </div>
                        <!-- price-detail-wrap .// -->
                        <div ng-bind-html="product.shortdescription"></div>
                        <hr>
                        <!--a href="#" class="btn  btn-primary"> Buy now </a-->
                        <div ng-if="product.comingsoon">
                            <button ng-if="product.productqty==0" class="btn  btn-outline-dark"> <span class="text">Coming Soon</span></button>
                        </div>
                        <div ng-if="!product.comingsoon">
                            <div ng-if="!product.prebook">
                                <!-- <button ng-if="product.productqty!=0" class="btn  btn-outline-primary" ng-click="ctlgCtrl.incrementQuantity(0);"> <span class="text">Add to cart</span>  <i class="fas fa-shopping-cart"></i></button> -->

                                <button ng-if="product.productqty!=0" class="btn btn-outline-primary" ng-click="ctlgCtrl.v2_CartManager(product.sku, 'ADD');"><span class="text">Add To Cart</span><i class="fas fa-shopping-cart"></i></button>
                                <button ng-if="product.productqty!=0" class="btn btn-primary" ng-click="ctlgCtrl.v2_CartManager_send2cart(product.sku, 'ADD');">Buy Now</button>
                                <button ng-if="product.productqty==0" class="btn  btn-outline-dark"> <span class="text">Sold Out</span></button>
                            </div>
                            <div ng-if="product.prebook && !PrebookToken">
                                <form class="form-group" ngSubmit="PrebookCheckpoint(customer_prebook_productid, customer_prebook_productname, customer_prebook_productimage, customer_prebook_name, customer_prebook_number, customer_prebook_email)">
                                    <div class="form-group">
                                        <label for='customername'>Your Name</label>
                                        <input id='customername' type="text" ng-model="customer_prebook_name" placeholder="Your Name" class="form-control" autocomplete="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for='customernumber'>Your Mobile Number</label>
                                        <input id='customername' type="number" min="6000000000" max="9999999999" ng-model="customer_prebook_number" placeholder="Your 10 Digit Phone Number" class="form-control" autocomplete="mobile" required>
                                    </div>
                                    <div class="form-group">
                                        <label for='customeremail'>Your Email Address</label>
                                        <input id='customeremail' type="email" ng-model="customer_prebook_email" placeholder="Your Email Address" class="form-control" autocomplete="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" ng-click="PrebookCheckpoint(product.id, product.menuitemname, product.photo, customer_prebook_name, customer_prebook_number, customer_prebook_email)" class="btn btn-primary form-control" value="Prebook Now">
                                    </div>
                                </form>
                            </div>
                            <div class="col" ng-if="PrebookToken">
                                Prebooking Confirmed : #{{PrebookToken}}
                            </div>
                        </div>
                    </article>
                    <!-- product-info-aside .// -->
                </main>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card.// -->
        <div ng-if="product.description">
            <hr>
            <h3 class="text-center">Know More About The Product</h3>
            <hr>
            <div class="container productContainer">
                <div ng-bind-html="product.description"></div>
            </div>
        </div>

    </div>
</section>
<!-- ========================= SECTION CONTENT END // ========================= -->
