/* *{ */
  /* box-sizing: border-box; */
  /* top: 0;
  left: 0;
  right: 0; */
  /* left: 0; */
/* } */

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  max-width: 400px;
  /* position: absolute;
  top: 0;
  left: 0; */
  margin: auto;
  /* background: #5A606F; */
  background-image: url('./Media/Media/bg.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

/* @media only screen and (min-width: 320px) and (max-width: 576px){
  .container{
      width: 100%;
      background-image: url('./Media/Media/bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
} */