.tab-item{
    display: flex;
    justify-content: center;
    background: rgb(98, 98, 98);
    transition-duration: 0.2s;

}
.tab-item:hover{
    /* background: rgb(81, 81, 81); */
    cursor: pointer;
    /* color: white; */
}

.tabs .tab-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tab-border{
    border: 1px solid red;
    background-color: brown;
    font-weight: 700;
}


.scroll-box{
    height: 55vh;
    overflow-y: scroll;

}

@media (max-width: 391px){
    .scroll-box{
        height: 73vh;
        overflow-y: scroll;
    }
    .tabs .tab-container{
        font-size: 0.8rem;
    }
}

.tab-1-content{
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: center;
}

.tab-content-item{
    margin: 0.1rem;
    padding: 0.1rem;
    /* background-color: aqua; */
}
.tab-content-div{
    /* background: red; */
    width: 100%;
    background-color: #E2E4D7;
    overflow: hidden;
    margin-top: 0.6rem;
    /* margin-left: 1.1rem; */
    font-size: 2rem;
    transition-duration: 0.2s;
}

.tab-content-div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.tab-content-item img{
    width: 100%;
    margin-top: -5px;
    margin-left: -120px;

}
